@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: rgb(230, 210, 173);
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 22px;
}

/* ---------------------------- LEFT SECTION ---------------------------- */

.container__leftSection {
  padding: 5px 40px 0px 40px;
  background: #003147;
  color: #fff;
}
.leftSection__profil {
  margin-top: 5px ;
  color: #eaa30c;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 0.75em;
}


/* -- PICTURE -- */
.leftSection__pictureContainer {
  padding: 0px;
}
.leftSection__profil {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
/* THIB DEV */
.leftSection__profil span {
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0.5em;
  color: #03a9f4;
}

.leftSection__title {
  margin: 55px 0px 10px 0px;
  color: #eaa30c;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.leftSection__languages{
	margin-top: 55px;
}

/* ----- PHOTO ----- */
.leftSection__pictureContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px 30px 0px 30px ;
}

.leftSection__picture {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* ------- Other formations and job ------- */
.otherFormations{
  margin-top: 1.75em;
}

.job, .formation {
  color: #03a9f4;
}

.leftSection__otherJobsContainer{
  margin-bottom: 0.75em;
  padding: 0em 0.5em;
  border: solid 1px white;
}

.enseigne{
  font-style: italic;
}

/* ------- Languages ------- */
#languagesTitle {
  margin-bottom: 0.50em;
  margin-top: 0.50em;
}
.languageTitle {
  color: #03a9f4;
  font-weight: 800;
}
.language__frLvl {
  margin-bottom: 0.5em;
}
.languages__language .percent {
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}
.languages__language .percent div {
  background: #03a9f4;
  height: 100%;
}
.lvl {
  margin-top: 5px;
}

/* ------- Compétences Skills + Centre d'intérêts ------- */
.skills__skillsList,
.hoobies__array {
  line-height: 1.5em;
}

/* ----------------------------------- Right Section -----------------------------------  */

.container__rightSection {
  padding: 5px 40px 5px 40px;
  background-color: #fff;
  color: #081921;
  line-height: 1.1em;
  font-weight: 500;
}
.rightSection__title {
  margin-top: 1em;
  margin-bottom: 0.1em;
  color: #eaa30c;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
}
.rightSection__zone {
  margin-bottom: 3em;
}
.placeDate {
  font-weight: bold;
  font-style: inherit;
  color: #286885;
}
.organisme {
  color: #484b4d;
  font-style: italic;
}

/* ------- Thib dev web ------- */

.rightSection__profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: 900;
  line-height: 1.4em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* color: #044664; */
  color: #eaa30c;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
  display: none;
}

.rightSection__profil span {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0.5em;
  color: #03a9f4;
}

/* --- CONTACT --- */

.array__information {
  margin: 10px 0;
  cursor: pointer;
}
.information__icon {
  color: #03a9f4;
}
.information__text, .information__textLink{
  font-weight: 300;
  color: black;
  text-decoration: none;
}
.fa-linkedin, .fa-github {
  color: #03a9f4;
  text-decoration: none;
}
.gmail {
  cursor: auto;
}

.information__textLink:hover, .fa-linkedin:hover, .fa-github:hover, .fa-map-location-dot:hover{
  color: #ffb700;
}




.rightSection__skills{
  display: flex;
  justify-content: space-between;
  
}

/* --- FORMATIONS ET EXP DEV --- */
.box {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding: 0em 0.5em;
  border: solid 1px #03a9f4;
}
.devFormations__list {
  padding: 0.1em 0.5em;
  margin-bottom: 0.75em;
  border: solid 0.1px #03a9f4;
}
.fa-youtube {
  text-decoration: none;
  color: red;
}
.codeDuDev{
  color: #03a9f4;
  text-decoration: none;
}
.fa-youtube:hover, .codeDuDev:hover {
  color: #ffb700
}

/* -------  PROFIL PROFFESSSIONNEL -------  */
.profilPro__text {
}

/* ---------------------------------------- DESKTOP ------------------------------------ */
@media screen and (min-width: 1068px) {
  .container{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  }
  .leftSection__title {
	margin: 28px 0px 10px 0px;
  }
  .leftSection__languages{
	margin-top: 28px;
  }
  .zone__array, .rightSection_profilPro, .rightSection__skills {
    margin-bottom: 1.5em;
  }
  #formaAndXP{
    margin-bottom: 15px;
  }
}

/* ---------------------------------------- PRINT ------------------------------------ */

@media print {
	.body{
		height: 100vh;
		width: 100vw;
	}
  .container__leftSection {
	background-color: #003147 !important;
  }
  .leftSection__otherJobsContainer{
    padding: 5px;
  }
  .leftSection__title{
    text-decoration: underline;

  }
  .leftSection__languages{
	margin-top: 35px;
  }
  .zone__array, .rightSection_profilPro, .rightSection__skills {
    margin-bottom: 0.7em;
  }
  #formaAndXP{
    margin-bottom: 15px;
  }
  .fa-youtube {
	display: none !important;
  }
}


.container__leftSection{
	-webkit-print-color-adjust: exact !important;
}

