@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: rgb(230, 210, 173);
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  margin: 50px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
}

/* -------------- LEFT SECTION -------------- */

.container__leftSection {
  position: relative;
  padding: 40px;
  background: #003147;
  color: #fff;
}
.leftSection__profil {
  margin: 15px 0px 5px 0px;
  color: #eaa30c;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 0.75em;
  display: none;
}

.leftSection__profil span {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0.5em;
  color: #03a9f4;
}

.leftSection__title {
  margin: 15px 0px 5px 0px;
  color: #eaa30c;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.75em;
}

/* ----- PHOTO ----- */
.leftSection__pictureContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  padding: 40px;
}

.leftSection__picture {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* -------  PROFIL PROFFESSSIONNEL -------  */
.leftSection__profilPro {
  margin-bottom: 4.2em;
}
.profilPro__text {
  margin-top: 1em;
  margin-bottom: 4.2em;
}
/* ------- Languages ------- */
.leftSection__languages {
  margin-bottom: 4.2em;
}
#languagesTitle {
  margin-bottom: 0.75em;
}
.languageTitle {
  color: #03a9f4;
  font-weight: 800;
}
.language__frLvl {
  margin-bottom: 1em;
}
.languages__language .percent {
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}
.languages__language .percent div {
  background: #03a9f4;
  height: 100%;
}
.lvl {
  margin-top: 5px;
}

/* ------- Compétences Skills + Centre d'intérêts ------- */
.leftSection__skills {
  margin-bottom: 4.2em;
}

.skills__skillsList,
.hoobies__array {
  line-height: 1.5em;
}

/* --------------------- Right Section ---------------------  */

.container__rightSection {
  position: relative;
  padding: 40px 40px 0px 40px;
  background-color: #fff;
  color: #081921;
  line-height: 1.1em;
  font-weight: 500;
}
.rightSection__title {
  margin: 15px 0px 7px 0px;
  color: #eaa30c;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 0.75em;
}
.rightSection__zone {
  margin-bottom: 3em;
}
.placeDate {
  font-weight: bold;
  font-style: inherit;
  color: #286885;
}
.organisme {
  color: #484b4d;
  font-style: italic;
}

/* ------- Thib dev web ------- */

.rightSection__profil {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: 900;
  line-height: 1.4em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* color: #044664; */
  color: #eaa30c;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}

.rightSection__profil span {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0.5em;
  color: #03a9f4;
}

/* --- CONTACT --- */

.array__information {
  margin: 10px 0;
  cursor: pointer;
}
.information__icon {
  color: #03a9f4;
}
.information__text, .information__textLink{
  font-weight: 300;
  color: black;
  text-decoration: none;
}
.fa-linkedin, .fa-github {
  color: #03a9f4;
  text-decoration: none;
}
.gmail {
  cursor: auto;
}

.information__textLink:hover, .fa-linkedin:hover, .fa-github:hover, .fa-map-location-dot:hover{
  color: #ffb700;
}


/* -- EXPERIENCE PROFFESSIONNELLES -- */

.box {
  margin-bottom: 0.75em;
  padding: 0em 0.5em;
  border: solid 1px #03a9f4;
}

/* --- FORMATIONS --- */

.formation__list {
  padding: 0.1em 0.5em;
  margin-bottom: 0.75em;
  border: solid 0.1px #03a9f4;
}
.fa-youtube {
  text-decoration: none;
  color: red;
}
.codeDuDev{
  color: #03a9f4;
  text-decoration: none;
}
.fa-youtube:hover, .codeDuDev:hover {
  color: #ffb700
}

/* ----------------- RESPONSIVE --------------- */

@media screen and (max-width: 870px) {
  .container {
    box-shadow: none;
  }
  .leftSection__pictureContainer {
    padding: 0px;
  }
  .leftSection__profil {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .profilPro__text {
    margin-bottom: 1em;
  }
  .leftSection__languages,
  .leftSection__profilPro,
  .leftSection__skills {
    margin-bottom: 2.1em;
  }
  .leftSection__profil span {
    text-transform: none;
    font-size: 20px;
  }
  .rightSection__profil {
    display: none !important;
  }
}

/* ---------------------------------------- PRINT ------------------------------------ */

@media print {
  .container {
    margin: 0px;
    font-size: 18px;
    box-shadow: none;
  }
  .container__leftSection {
    padding: 0px;
    margin-left: 0.5em;
  }
  .leftSection__profil {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: 1.5em;
  }
  .leftSection__profil span {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 0.5em;
  }
  .leftSection__title {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 0em;
  }
  .leftSection__languages,
  .leftSection__profilPro,
  .leftSection__skills {
    margin-bottom: 1.3em;
  }


  /* ----- PHOTO ----- */
  .leftSection__pictureContainer {
    padding: 0px;
  }

  /* -------  PROFIL PROFFESSSIONNEL -------  */
  .profilPro__text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* ---------- LANGUES ---------- */
  #languagesTitle {
    margin: 0;
  }
  .languageTitle {
    margin: 0;
  }
  .language__frLvl {
  }
  .lvl {
  }
  .percent {
    display: none !important;
  }

  /* ------- Compétences Skills + Centre d'intérêts ------- */

  .skills__skillsList,
  .hoobies__array {
    line-height: 1.5em;
  }

  /* --------------------- Right Section ---------------------  */

  .container__rightSection {
    position: relative;
    padding: 0px;
    line-height: 1.1em;
  }
  .rightSection__title {
    margin: 20px 0px 15px 0px;
    font-size: 26px;
  }
  .rightSection__zone {
    margin-bottom: 1.3em;
  }

  /* ------- Thib dev web ------- */

  .rightSection__profil {
    display: none !important;
  }

  .fa-youtube{
    display: none !important;
  }
}

